@font-face {
    font-family: 'bookmaniablack_italic';
    src: url(https://notaak38.github.io/styles/bookmania_black_italic-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_black_italic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniablack';
    src: url(https://notaak38.github.io/styles/bookmania_black-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_black-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniabold_italic';
    src: url(https://notaak38.github.io/styles/bookmania_bold_italic-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_bold_italic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bookmaniabold';
    src: url(https://notaak38.github.io/styles/bookmania_bold-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniaitalic';
    src: url(https://notaak38.github.io/styles/bookmania_italic-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_italic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmanialightitalic';
    src: url(https://notaak38.github.io/styles/bookmania_light_italic-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_light_italic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmanialight';
    src: url(https://notaak38.github.io/styles/bookmania_light-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_light-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bookmaniaregular';
    src: url(https://notaak38.github.io/styles/bookmania_regular-webfont.woff2") format('woff2'),
         url(https://notaak38.github.io/styles/bookmania_regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}







.phb{
   width : 210mm;
   height : 296mm;
}
.phb p {text-align: justify;}
.phb {
  background-color:#9efeff;
  background-blend-mode:overlay;
  }

.phb table tbody tr:nth-child(odd) {background-color: #9efeff ;}

.phb .bookmaniaregularClass {
	font-family: bookmaniaregular;
}
.phb .bookmaniablack_italicClass {
	font-family: bookmaniablack_italic;
}
